.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

p {
  text-align: center;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(25, 0, 255);
  height: 50px;
  padding: 60px;
  
}
